{% extends "base.html" %}

{% block content %}
    <h1>Effettua l'accesso</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Invia"></p>
    </form>

{% endblock %}