{% extends "base.html" %}

{% block content %}
    <h1>Lista di Veicoli</h1>
    {% if object_list %}
        <ul>
            {% for obj in object_list %}
                <li>
                    {{ obj }}:
                    <a href="{% url 'autonoleggio:dettaglio-veicolo' obj.id %}">
                        Visualizza dettaglio
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}