{% extends "base.html" %}

{% block content %}
    <h1>Dettaglio del Veicolo: {{ object }}</h1>
    <p>Tipo di veicolo: {{ object.tipo_di_veicolo }}</p>
    <p>Numero di posti: {{ object.numero_di_posti }}</p>
    <p>Tariffa giornaliera: {{ object.tariffa_giornaliera }}</p>
    <p>Disponibile: {{ object.disponibile }}</p>
{% endblock %}
